.consolas {
    padding: 30px 80px;
 }
 
 .consolas__img {
     width: 180px;
     height: 172px;
 }
 .consolas__titulo {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding-bottom: 10px;
     font-size: 32px;
     font-size: bold;
 
 }
 .consolas__ver, .consola__link {
     background:none;
     color: #2A7AE4;
     font-weight: bold;
     font-size: 16px;
     border: none;
 }
 
 .consolas__card {
    height: 252px;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
 
 }
 .consola__titulo {
     font-size: 14px;
     font-weight: 18px;
 
 }
 
 .consolas__precio {
     font-size: 16px;
     font-weight: bold;
 }
 .btn:hover {
     font-size: 18px;
     color: black;
     transition: 0.7s;
 }