.diversos {
    padding: 10px 10px;
 }
 
 .diversos__img {
     width: 180px;
     height: 172px;
 }
 .diversos__titulo {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding-bottom: 10px;
     font-size: 32px;
     font-size: bold;
 
 }
 .diversos__ver, .diverso__link {
     background:none;
     color: #2A7AE4;
     font-weight: bold;
     font-size: 16px;
     border: none;
 }
 
 .diversos__card {
    height: 252px;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
 
 }
 .diverso__titulo {
     font-size: 14px;
     font-weight: 18px;
 
 }
 
 .diverso__precio {
     font-size: 16px;
     font-weight: bold;
 }
 .btn:hover {
     font-size: 18px;
     color: black;
     transition: 0.7s;
 }

 @media screen and (max-width:768px) { 
    .diversos {
        padding: 10px 0;
        font-size: 0.5rem;
        
    }
    .diversos__titulo {
        width: 95%;
        font-size: 0.7rem;
    }

    .diversos__img {
        width: 120px;
        height: 120px;
    }

    .diversos__contenedor {
        padding: 5px 5px;
       
    }

    .ocultar {
        display: none;
    }
    .diversos__link {
        background:none;
        color: #2A7AE4;
        font-weight: bold;
        font-size: 0.6rem;
        border: none;
    }
    
}