.productos {
    width: 100%;
    padding-left: 200PX;
}

.productos__img {
    width: 200px;
    height: 200px;
}
.productos__titulo {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:baseline;
    font-size: 32px;
    font-size: bold;

}
.productos__ver, .producto__link {
    background:none;
    color: #2A7AE4;
    font-weight: bold;
    font-size: 16px;
    border: none;
}

.productos__card {
    width: 90%;
    display: flex;
    flex-direction: row;
    
}

.productos__contenedor {
   margin:23PX;

}
.producto__titulo {
    font-size: 14px;
    font-weight: 18px;

}

.productos__precio {
    font-size: 16px;
    font-weight: bold;
}
.btn:hover {
    font-size: 18px;
    color: black;
    transition: 0.7s;
}
@media screen and (max-width:768px) { 
    .productos {
        padding: 25px 0;
        font-size: 0.5rem;
        
    }
    .productos__titulo {
        width: 95%;
        font-size: 0.7rem;
    }

    .productos__img {
        width: 120px;
        height: 120px;
    }

    .productos__contenedor {
        padding: 10px 10px;
       
    }

    .ocultar {
        display: none;
    }
    .producto__link {
        background:none;
        color: #2A7AE4;
        font-weight: bold;
        font-size: .6rem;
        border: none;
    }
    
}